utils/__pycache__/
*
!make_spectrum0.18.2.py  
!train_classifier_rf.py  
!gti.py     
!apply_rfs.py
!hillas_preprocessing*.py
!pycache                
!train_direction_rf.py
!add_orig_mc_tree.py
!make_irf.py
!train_energy_rf.py          
!README.md         
!magic_lst_event_coincidence.ipynb
!cleaning_analysis.py      
!create_htcondor_jobs_hillas.py    
!make_event_lists.py            
!cleaning_comp.py          
!event_processing.py               
!LICENSE                                       
!config                    
!utils