##############################################################
### New default input card of coach. This time the input card uses the
### simple Width and Length parameters, instead of their dynamic
### counterparts as it was done in the early stereo analysis from
### 2010. This is possible thanks to the new first generation of MC
### simulations for the "after-upgrade" period (ST.03). For the time 
### being these new MCs are available only for
### the period after 2013-01-18 but in near future they will also be
### available for earlier periods after the upgrade.
##############################################################


# Files
RF.mcdata: /Users/robertazanin/prova/GA_za05to35_8_86600*_S*.root
RF.data:  /Users/robertazanin/prova/20091111_05003359*_S_*.root
RF.outpath: /Users/robertazanin/prova/RFprova_coach/
RF.outname: coach_std

# number of tree
RF.numTree:    100
RF.trainRatio: 0.95
RF.createTestSample: TRUE


RF.zdmin: 5.
RF.zdmax: 50.

RFLoop.FilterCuts.Continue0.Condition: MHillas_1.fSize<50. 
RFLoop.FilterCuts.Continue1.Condition: MHillas_2.fSize<50.
RFLoop.FilterCuts.Continue2.Condition: MHillas_1.fSize>50000. 
RFLoop.FilterCuts.Continue3.Condition: MHillas_2.fSize>50000. 
RFLoop.FilterCuts.Continue4.Condition: MNewImagePar_1.fLeakage1>0.15
RFLoop.FilterCuts.Continue5.Condition: MNewImagePar_2.fLeakage1>0.15 
RFLoop.FilterCuts.Continue6.Condition: MStereoPar.fValid<0.5

#########################################################################################################
#######                                GAMMA/HADRON SEPARATION	                        #################
#########################################################################################################

#other filter cuts for G/H RF training
RFLoop.GHCuts.Continue0.Condition: MImagePar_1.fNumIslands>1
RFLoop.GHCuts.Continue1.Condition: MImagePar_2.fNumIslands>1

RF.ReZenithing: TRUE
RF.numAzBins:   1
RF.numZdBins:   30

RF.NumTryGH: 3
RF.NdSizeGH: 5
RF.NumVariableGH: 12

RF.GHVariable1:  0.025+0.05*floor(log10(MHillas_1.fSize)/0.05)
RF.GHVariable2:  0.025+0.05*floor(log10(MHillas_2.fSize)/0.05)
RF.GHVariable3:  MHillas_1.fWidth
RF.GHVariable4:  MHillas_2.fWidth
RF.GHVariable5:  MHillas_1.fLength
RF.GHVariable6:  MHillas_2.fLength
RF.GHVariable7:  MStereoPar.fM1Impact
RF.GHVariable8:  MStereoPar.fM2Impact
RF.GHVariable9:  MStereoPar.fMaxHeight
RF.GHVariable10: sqrt(MHillasTimeFit_1.fP1Grad*MHillasTimeFit_1.fP1Grad)
RF.GHVariable11: sqrt(MHillasTimeFit_2.fP1Grad*MHillasTimeFit_2.fP1Grad)
# modify the "30" in this variable if you go for a different Zd binning!
RF.GHVariable12: (0.5/30.)+(1./30.)*floor(cos(MPointingPos_1.fZd*0.0174532925)/(1./30.))

#To train a G/H RF with non-gamma MC (see list of ID in mmc/MMcEvt.hxx)
# RF.NonHadronPartId 1


#########################################################################################################
#######                                 ENERGY ESTIMATION                               #################
#########################################################################################################

###############################
###   RF stereo SETTINGS    ###
###############################
##########
# << The training parameters >>
#  Modify them when
#  -  you have some difficulties with computaional resources.
#  -  you want to improve the performance as much as possible.
# CAUTION:
#   If the RF file size exceeds 200MB, it is unlikely to be loaded and
#   it initiates segmentation fault in melibea.
#   You can reduce the file size by reducing Zd range
#    or adjusting numTree and nodeSize as below.
#
#  numTree:
#   The more, the better performance. But it will saturate and the RF file gets larger
#   proportionally and it takes longer time.
#  nodeSize:
#   The less, the better performance. But the RF file gets larger.You may try down to 3.
#  numTrial:
#   The more, the better performance. But it will saturate after numTrial=sqrt(numVariable),
#   and take longer time. 
#
RFenStereo.numTree: 150
RFenStereo.nodeSize:  5
RFenStereo.numTrial:  4
##########
#  << The variables >>
#  You may need to change the parameters below for better performance.
#  CAUTION:
#   If you treat Zd >50 deg, please change Impact!!(Variable 9 and 10)
#   Please set them to 
#      MStereoPar.fM1Impact and MStereoPar.fM2Impact
#   Otherwise there will be heavy bias, induced by too large fluctuation in 
#   impact parameter estimated by disp method.
#
#  NOTE:
#  Length:
#    improves the performance ONLY for Zd > ~60deg.
#    The resolution is better a little in entire range and
#     the bias is also better slightly at the highest energy.
#  If you want to activate them, make sure you edit as below. 
#   - activate the correspondent lines below
#   - give proper sequential numbers to substitute 'XX'
#   - increase "numVariable" respectively
#
# 
RFenStereo.numVariable: 17
RFenStereo.Variable1:  log10(MHillas_1.fSize)
RFenStereo.Variable2:  log10(MHillas_2.fSize)
RFenStereo.Variable3:  MNewImagePar_1.fLeakage1
RFenStereo.Variable4:  MNewImagePar_1.fLeakage2
RFenStereo.Variable5:  MNewImagePar_2.fLeakage1
RFenStereo.Variable6:  MNewImagePar_2.fLeakage2
RFenStereo.Variable7:  sqrt(MHillasTimeFit_1.fP1Grad*MHillasTimeFit_1.fP1Grad)
RFenStereo.Variable8:  sqrt(MHillasTimeFit_2.fP1Grad*MHillasTimeFit_2.fP1Grad)
RFenStereo.Variable9:  MMcEvt_1.fImpact
RFenStereo.Variable10: MMcEvt_2.fImpact
RFenStereo.Variable11: MHillasSrc_1.fDist*0.0033703000000000001
RFenStereo.Variable12: MHillasSrc_2.fDist*0.0033703000000000001
RFenStereo.Variable13: MPointingPos_1.fZd
RFenStereo.Variable14: MStereoPar.fMaxHeight
RFenStereo.Variable15: MStereoPar.fCherenkovDensity
RFenStereo.Variable16: MStereoPar.fCherenkovRadius
RFenStereo.Variable17: MStereoPar.fCosBSangle
# RFenStereo.VariableXX: MHillas_1.fLength
# RFenStereo.VariableXX: MHillas_2.fLength
##########
#  << Cut conditions >>
#     The conditions of events NOT to be used ("skip","continue") for training
# NOTE:
#  - Usually the less cuts, the better the performance.
#  - There is a hard-coded condition to skip the events with
#     MStereoPar.fValid=0 (invalid stereo reconstruction)
#    It contains MStereoPar.fCosBSangle=NaN, which initiates segmentation fault.
#  - If you want to add a condition, you can specify it like below:
#RFenStereo.Cuts.Continue0.Condition: MExamplePar.fExample > 1000

################################################
###   RF(telescope wise) and LUT SETTINGS    ###
################################################

# Cuts
RFLoop.EnergyCuts.Continue0.Condition: MStereoPar.fCherenkovRadius<4000
RFLoop.EnergyCuts.Continue1.Condition: MStereoPar.fTheta2>0.1

RFLoop.EnergyCutsUnphys.Continue0.Condition: MStereoPar.fValid<1
RFLoop.EnergyCutsUnphys.Continue1.Condition: MStereoPar.fCherenkovDensity<0

#########################
###   RF SETTINGS    ###
#######################

RF.NumVariableEnergy: 10

RF.En1Variable1: MStereoPar.fCherenkovDensity
RF.En1Variable2: log10(MHillas_1.fSize/MStereoPar.fCherenkovDensity)
RF.En1Variable3: MStereoPar.fM1Impact/MStereoPar.fCherenkovRadius
RF.En1Variable4: MStereoPar.fCherenkovRadius
RF.En1Variable5: MHillas_1.fWidth
RF.En1Variable6: MHillas_1.fLength
RF.En1Variable7: MPointingPos_1.fZd
RF.En1Variable8: MNewImagePar_1.fLeakage1
RF.En1Variable9: sqrt(MHillasTimeFit_1.fP1Grad*MHillasTimeFit_1.fP1Grad)
# This has to be last one: it is the scaling parameter
RF.En1Variable10: MMcEvt_1.fEnergy

RF.En2Variable1: MStereoPar.fCherenkovDensity
RF.En2Variable2: log10(MHillas_2.fSize/MStereoPar.fCherenkovDensity)
RF.En2Variable3: MStereoPar.fM2Impact/MStereoPar.fCherenkovRadius
RF.En2Variable4: MStereoPar.fCherenkovRadius
RF.En2Variable5: MHillas_2.fWidth
RF.En2Variable6: MHillas_2.fLength
RF.En2Variable7: MPointingPos_2.fZd
RF.En2Variable8: MNewImagePar_2.fLeakage1
RF.En2Variable9: sqrt(MHillasTimeFit_2.fP1Grad*MHillasTimeFit_2.fP1Grad)
# This has to be last one: it is the scaling parameter
RF.En2Variable10: MMcEvt_2.fEnergy


#########################
###   LUT SETTINGS   ###
#######################

# LUT Binning:
MEnergyTable.SizeBinning 19
MEnergyTable.MinSize 25
MEnergyTable.MaxSize 200000
MEnergyTable.ImpactBinning 50
MEnergyTable.MinImpact 0
MEnergyTable.MaxImpact 3.5

# Data container used:
#MEnergyTable.HillasName MHillasDynamic
#MEnergyTable.NewImageParName MNewImageParNameDynamic
#MEnergyTable.StereoParName MStereoParDynamic

# Zd correction formula ( x = cos(Zd) )
MEnergyTable.ZdCorrectionFormula 0.97*pow(x,-0.3)/(1-pow(1-x,2.25))

# Leackage correction for both telescopes ( x = MNewImagePar.fLeakage2)
MEnergyTable.LeakageCorrectionFormula_1 1-4*x*x
MEnergyTable.LeakageCut_1 0.2
MEnergyTable.LeakageCorrectionFormula_2 1-4*x*x
MEnergyTable.LeakageCut_2 0.2

# Magnetic field correction formula ( x = cos(BSangle) )
MEnergyTable.BCorrectionFormula 0.93+0.2*sqrt(1.-pow(x,2))

#Minimum number of events require to fil a LUT bin:
MEnergyTable.MinEvtPerBin 3


#########################################################################################################
#######                                 STEREO DISP ESTIMATION                          #################
#########################################################################################################


#other filter cuts for DISP RF training
#RFLoop.DispCuts.Continue0.Condition: MImagePar_1.fNumIslands>1
#RFLoop.DispCuts.Continue1.Condition: MImagePar_2.fNumIslands>1
#RFLoop.DispCuts.Continue2.Condition: MStereoPar.fTheta2>0.1

RF.NumTryDisp: 3
RF.NdSizeDisp: 5
RF.NumVariableDisp: 11

RF.Disp1Variable1:  log10(MHillas_1.fSize)
RF.Disp1Variable2:  log10(MHillas_2.fSize)
RF.Disp1Variable3:  MStereoPar.fM1Impact
RF.Disp1Variable4:  MStereoPar.fM2Impact
RF.Disp1Variable5:  MPointingPos_1.fZd
RF.Disp1Variable6:  MStereoPar.fMaxHeight
RF.Disp1Variable7:  sqrt(MHillasTimeFit_1.fP1Grad*MHillasTimeFit_1.fP1Grad)
RF.Disp1Variable8:  sqrt(MHillasTimeFit_2.fP1Grad*MHillasTimeFit_2.fP1Grad)
RF.Disp1Variable9:  MHillas_1.fWidth
RF.Disp1Variable10: MHillas_1.fLength
# This has to be the last one. It is the scaling parameter.
RF.Disp1Variable11: MHillasSrc_1.fDist*0.0033703

RF.Disp2Variable1:  log10(MHillas_1.fSize)
RF.Disp2Variable2:  log10(MHillas_2.fSize)
RF.Disp2Variable3:  MStereoPar.fM1Impact
RF.Disp2Variable4:  MStereoPar.fM2Impact
RF.Disp2Variable5:  MPointingPos_1.fZd
RF.Disp2Variable6:  MStereoPar.fMaxHeight
RF.Disp2Variable7:  sqrt(MHillasTimeFit_1.fP1Grad*MHillasTimeFit_1.fP1Grad)
RF.Disp2Variable8:  sqrt(MHillasTimeFit_2.fP1Grad*MHillasTimeFit_2.fP1Grad)
RF.Disp2Variable9:  MHillas_2.fWidth
RF.Disp2Variable10: MHillas_2.fLength
# This has to be the last one. It is the scaling parameter.
RF.Disp2Variable11: MHillasSrc_2.fDist*0.0033703


#########################################################################################################
############                               DRAWING                                      #################
#########################################################################################################

RF.FontNumber:  132

